<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamProject.erp.mapper.mroom.MrMapper">

    <resultMap id="mrMap" type="com.teamProject.erp.dto.MrDTO">
        <result property="mrNo" column="mr_no"/>
        <result property="mrUsers" column="mr_users"/>
        <result property="mrTime" column="mr_time"/>
        <result property="mrTitle" column="mr_title"/>
        <result property="mrContent" column="mr_content"/>
        <result property="mrMax" column="mr_max"/>
        <result property="mrRegDate" column="mr_regdate"/>

        <result property="userId" column="user_id"/>
        <result property="fileNo" column="file_no"/>
    </resultMap>

    <insert id="mrInsert">
        INSERT INTO meetingroom
        (mr_title, mr_max, mr_content, mr_users, mr_time)
        VALUES (#{mrTitle},#{mrMax}, #{mrContent}, #{mrUsers}, #{mrTime})
    </insert>

    <select id="mrFindAll" resultMap="mrMap">
        SELECT *
        FROM meetingroom
        ORDER BY mr_no DESC
        LIMIT #{start}, #{amount}
    </select>

    <select id="mrFindSearchAll" resultMap="mrMap">
        SELECT *
        FROM meetingroom
        <if test="type == 'title'">
            WHERE mr_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
<!--        <if test="type == 'content'">-->
<!--            WHERE mr_content LIKE CONCAT('%', #{keyword}, '%')-->
<!--        </if>-->
<!--        <if test="type == 'writer'">-->
<!--            WHERE mr_users LIKE CONCAT('%', #{keyword}, '%')-->
<!--        </if>-->
<!--        <if test="type == 'tc'">-->
<!--            WHERE mr_title LIKE CONCAT('%', #{keyword}, '%')-->
<!--            OR mr_content LIKE CONCAT('%', #{keyword}, '%')-->
<!--        </if>-->
        ORDER BY mr_no Desc
        LIMIT #{start}, #{amount}
    </select>

    <select id="mrFindOne" resultMap="mrMap">
        SELECT *
        FROM meetingroom
        WHERE mr_no=#{mrNo}
    </select>

    <delete id="mrDelete">
        DELETE
        FROM meetingroom
        WHERE mr_no=#{mrNo}
    </delete>

    <update id="mrModify">
        UPDATE meetingroom
        SET mr_title=#{mrTitle}, mr_content=#{mrContent}
        WHERE mr_no=#{mrNo}
    </update>
    
    <select id="mrGetTotalCount" resultType="Integer">
        SELECT COUNT(*)
        FROM meetingroom
    </select>
    
    <select id="mrGetTotalSearchCount" resultType="Integer">
        SELECT COUNT(*)
        FROM meetingroom
        WHERE mr_title
        LIKE CONCAT('%', #{keyword}, '%')
    </select>
</mapper>
